body {
    font-family:Helvetica;
    color: #f5f4fb;
    background-color: lab(22.96% -24.56 27.95 / 0.534);

  }
nav {
    display: flex;
    justify-content:space-between;
    padding: 25px; 
    border-bottom: 1px solid #fffbff;
}
nav ul {
    align-items:center;
    list-style:square;
}

ul li{
    margin-right:12px;
    list-style: none;
}
ul li a { 
    color:#61700b;
}
h1 {
  text-align: center;
  background-color: #085d0b9c;
  padding: 5px;
}

section >p {
  text-align: center;
  margin: auto;
  max-width: 700px;
  height: auto;
}
.foto {
  display: block;
  margin: auto;
  max-width: 100%;
  margin-top: 10px;
  box-shadow: 10px 10px 10px #333;
}
.info { 
  text-align: left;
}
footer {
  padding: 20px;
  border-top:1px solid #f1eff1;

}

@media (max-width: 768px) { 
  .foto {
    max-width:90%;
  }
}